In [2]:
#Assignment 1 Girish Kulathumani 21BCE1152 CSE core
import numpy as np
import pandas as pd

In [4]:
#create the pandas dataframe with numpy random values(4 features and 4 observations)

df = pd.DataFrame(np.random.randn(4,4),columns=['A','B','C','D'])
df

          A         B         C         D
0  0.321670 -1.055372 -0.956585 -0.635750
1  1.037137  0.230000  0.772212  0.939359
2  0.804665 -0.749205 -2.643021 -0.217471
3 -0.711701  0.530860  0.892608 -0.117625

In [6]:
#rename the column names of dataframe to 'random value 1', 'random value 2', 'random value 3', 'random value 4'

df.columns = ['random value 1', 'random value 2', 'random value 3', 'random value 4']
df

   random value 1  random value 2  random value 3  random value 4
0        0.321670       -1.055372       -0.956585       -0.635750
1        1.037137        0.230000        0.772212        0.939359
2        0.804665       -0.749205       -2.643021       -0.217471
3       -0.711701        0.530860        0.892608       -0.117625

In [8]:
#find the descriptive statistics of the dataframe

df.describe()

       random value 1  random value 2  random value 3  random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.362943       -0.260930       -0.483696       -0.007872
std          0.775934        0.761029        1.669114        0.670188
min         -0.711701       -1.055372       -2.643021       -0.635750
25%          0.063328       -0.825747       -1.378194       -0.322041
50%          0.563168       -0.259603       -0.092187       -0.167548
75%          0.862783        0.305215        0.802311        0.146621
max          1.037137        0.530860        0.892608        0.939359

In [14]:
#check for the null values in df 

print(df.isnull())
print("\n")
#and find the datatype of the columns
print(df.dtypes)

   random value 1  random value 2  random value 3  random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False


random value 1    float64
random value 2    float64
random value 3    float64
random value 4    float64
dtype: object

In [15]:
#Display the 'Random value 2' & random value 3 columns with loc

print(df.loc[:,['random value 2','random value 3']])

#and iloc

print(df.iloc[:,[1,2]])

   random value 2  random value 3
0       -1.055372       -0.956585
1        0.230000        0.772212
2       -0.749205       -2.643021
3        0.530860        0.892608
   random value 2  random value 3
0       -1.055372       -0.956585
1        0.230000        0.772212
2       -0.749205       -2.643021
3        0.530860        0.892608